<h1>You Made it to: SHOW</h1>
<h3><%= button_to "Logout",  logout_path %></h3>

<h3>Welcome: <%= @user.username %></h3>




<h3><%= button_to "Delete Profile", user_path(@user), method: :delete, data: 
    {confirm: "Your profile will be gone forever...are you sure?"}%></h3>
