<h1>You have made it to Booklist's Landing Page</h1>
<p>Do you have a mountain of books that need to be read, but you're shopping for a new one now?</p>
<p>Can't remember if you have bought this book before or if you are just a fan of the author?</p>
<p>Well make yourself at home in our cozy little app that was created to help you keep track of all the book titles in your collection.</p>

<h1>Choose One of the Following:</h1>

<%= link_to "Create a New User", new_user_path%>