<h1><%= @user.username %>'s Collection</h1>

<%= link_to "Add a New Book", new_user_book_path(@user, @books) %>

<ul>
    <% @books.each do |book| %>
        <li><%= link_to book.title, user_book_path(@user, book) %></li>
    <% end %>

</ul>