<h1><%= @user.username%>'s Reviews</h1>
<%= link_to "Create a New Review?", new_user_review_path(@user)%>

<ul>
<% @reviews.each do |review| %>
    <li>
    <%= link_to review.title, user_review_path(@user, review)%>
    </li>
<% end %>
</ul>